{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit voluptatum aliquid natus dignissimos enim ad quibusdam nulla, aperiam cupiditate corrupti voluptatem vero libero excepturi ullam obcaecati illum veniam quidem dolor fugit est. Tempore odit blanditiis quam sunt omnis illo ducimus modi explicabo atque optio in enim vitae quaerat laborum qui corporis, ex odio expedita quos beatae laudantium iste aspernatur? Enim iste deleniti veritatis. Ex maxime veritatis, nisi laboriosam distinctio quod culpa iste aspernatur, inventore necessitatibus perspiciatis, assumenda quaerat at fuga? Possimus molestias quibusdam impedit accusantium laudantium similique in aperiam quos molestiae non error nesciunt dignissimos, qui ratione. Veritatis, cumque.</p>
<p>Website created by {{username}}</p>

{% endblock %}
